@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.outlined-text {
  color: white; /* Text color */
  -webkit-text-stroke-width: 1px; /* Width of the stroke */
  -webkit-text-stroke-color: black; /* Color of the stroke */
}

.white-text {
  color: white;
}

.event-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.event-title {
  font-weight: bold;
}

.event-description {
  margin-left: 10px;
  color: #666;
}

.date-label {
  font-weight: bold;
  font-family: "Arial", sans-serif; /* Change to your desired font */
  font-size: 18px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add margin for spacing */
}

@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(2px); }
  50% { transform: translateX(-2px); }
  75% { transform: translateX(2px); }
  100% { transform: translateX(-2px); }
}

.vibrating {
  animation: vibrate 0.7s infinite; /* Adjusted animation duration to make it slower */
}

